<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title> Home - Pizzaria do Stan </title>

    <!-- Estilos -->
    <link rel="stylesheet" type="text/css" href="../static/css/global.css">
    <link rel="stylesheet" type="text/css" href="../static/css/cardapio/cardapio.css">

    <!-- Fontes -->
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Delius&display=swap" rel="stylesheet">

    <!-- Scripts -->
    <script src="../static/js/preLoad.js"></script>

</head>
<body>
    <div class="container">
        <section class="secaoStan">
            <img src="../static/img/global/stan.png">

            <div class="navegacaoStan">
                <div class="linkStan"> <a href="#"> <img src="../static/img/home/quadro.png"> </a> <p>Cardápio</p> <img src="../static/img/home/efeitos/capitao.png" id="efeito"> </div>
               <div class="linkStan"> <a href="#"> <img src="../static/img/home/quadro.png"> </a> <p>Sobre Nós</p> <img src="../static/img/home/efeitos/hulk.png" id="efeito"> </div>
               <div class="linkStan"> <a href="#"> <img src="../static/img/home/quadro.png"> </a> <p>Contatos</p> <img src="../static/img/home/efeitos/deadpool.png" id="efeito"> </div>
            </div>
        </section>

        <section class="secaoBalao">
            <img src="../static/img/home/balao.png" alt="">
            
            <div class="guardEndereco"> 
                <img src="../static/img/home/endereco.png" alt=""> 
                    <span class="enderecoCima"> <div id="comentario">Você é meio curioso, hein?</div> </span> 
                    <span class="enderecoBaixo"> <div id="comentario">Achou que aqui seria diferente?</div></span> 
            </div>
        </section>

        <section class="secaoPizza">
            <div class="innerBordPizza"></div>
            <div class="innerTextPizza"><p>ESCOLHA SEU TAMANHO DE PIZZA</p></div>
            <img class="pizzaBackLeft" src="../static/img/home/shadow.png" style="width: 400px;">
            <img class="pizzaBackRight" src="../static/img/home/shadow.png" style="width: 400px;">

            <div class="pizzaCard" id="pequena">
                <img src="../static/img/home/pizzaPequena.png" style="width: 280px;">
                <div> <p>Pequena</p> </div>
            </div>

            <div class="pizzaCard" id="media">
                <img src="../static/img/home/pizzaMedia.png" style="width: 280px;">
                <div> <p>Média</p> </div>
            </div>

            <div class="pizzaCard" id="grande">
                <img src="../static/img/home/pizzaGrande.png" style="width: 280px;">
                <div> <p>Grande</p> </div>
            </div>
        </section>

        <section class="cardapio">
            <span id="hulkEsmaga" class="hulkEsmaga"></span>
            <span id="souGroot" class="souGroot"></span>
            <span id="playboyBilionario" class="playboyBilionario"></span>
            <span id="grandesPoderes" class="grandesPoderes"></span>
            <span id="vingadoresAvante" class="vingadoresAvante"></span>
            <span id="gamora" class="gamora"></span>
            <span id="romanoff" class="romanoff"></span>
            <span id="maximoff" class="maximoff"></span>
            <span id="inevitavel" class="inevitavel"></span>
            <span id="fury" class="fury"></span>
            <span id="refri" class="refri"></span>
            <img src="../static/img/home/cardapio.png">
        </section>
    </div>
</body>
</html>